[submodule "PPWL5"]
	path = PPWL5
	url = https://github.com/IniRalfi/ppwl5-project-structure.git
	branch = main
[submodule "PPWL6"]
	path = PPWL6
	url = git@github.com:IniRalfi/ppwl6-monorepo.git
	branch = main
[submodule "PPWL7"]
	path = PPWL7
	url = git@github.com:IniRalfi/ppwl7-mono3.git
[submodule "UTS"]
	path = UTS
	url = git@github.com:IniRalfi/ppwl8-mono4.git
[submodule "PPWL9"]
	path = PPWL9
	url = git@github.com:IniRalfi/ppwl9-mono-docker
